<div class="content" role="main">
   <div class="searchBars">
      <span>
         <form class="form-inline">
            <div class="searchInput">
               <input  type="text" class="form-control form-control-sm ml-3 w-75" id="name" placeholder="Enter show" [(ngModel)]="showName" name="showName"  (keydown.enter)="filterItem(showName)">
               <fa-icon [icon]="faSearch"></fa-icon>
            </div>   
         </form>
      </span>
      <span>
         <div class="form-group">
            <select class="form-control" (change)="chooseGenre($event)" [(ngModel)]="selectedValue">
            <option disabled  selected [ngValue]="selectedValue" >{{selectedValue}}</option>
            <option  *ngFor="let genre of showGenreBased">{{genre}}</option>
            </select>
         </div>
      </span>
      <span>
      <button type="button" id="reset" class="btn btn-default" (click)="resetFilter()">Reset</button> 
      </span>
   </div>
   <h5 class="card-title" *ngIf="allShows.length !=0 ">{{selectedGenre}}</h5>
   <div class="card-container">
      <div *ngFor="let show of allShows | orderBy: 'rating.average'  | paginate : {
         itemsPerPage: tableSize,
         currentPage: page,
         totalItems: count
       };
 let i = index"  [class.active]="i == currentIndex">
         <div class="col d-flex justify-content-center">
            <a class="card getDetails"  (click)="getShowDetails(show.id)" *ngIf="show.image !== null">
            <div>
               <img class="card-img-top" src={{show?.image?.medium}} alt="Card image">
               <p class="showName">{{show?.name}}</p>
               <p class="rating">{{rating(show.rating.average)}}</p>
            </div>
            </a>
         </div>
      </div>
   </div>

   <h6 class="noresult" *ngIf="!allShows?.length">No Search results found</h6>


   <div class="d-flex justify-content-center"  *ngIf="allShows.length != 0 ">
      <pagination-controls
        responsive="true" 
        previousLabel="Prev" 
        nextLabel="Next" 
        (pageChange)="onDataChange($event)">
      </pagination-controls>
    </div>
</div>